body{
  background-color: var(--black-color);
  text-align: center;
  color:var(--white-color);
  displey:flex;
  align-items: center;
  height: 100vh;
}
.content_paypal {
  padding: 15%;
}
.content_paypal a {
  color: var(--green-color);
}
